<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Success</title>
</head>
<body>
    <h1>Authentication Successful</h1>
    <p>You can now close this window.</p>
    <script>
        const { ipcRenderer } = require('electron');
        const accessToken = "{{ .AccessToken }}";
        console.log("Access Token:", accessToken);
        
        ipcRenderer.send('token-received', accessToken);

        setTimeout(() => {
            window.close();
        }, 1000);  
    </script>
</body>
</html>

