<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Success</title>
</head>
<body>
    <h1>Authentication Successful</h1>
    <p>You can now close this window.</p>
    <script>
        // Directly access ipcRenderer since nodeIntegration is true
        const { ipcRenderer } = require('electron');
        const accessToken = "{{ .AccessToken }}";
        console.log("Access Token:", accessToken);
        
        // Send the token to the main process
        ipcRenderer.send('token-received', accessToken);

        // Close the current window
        setTimeout(() => {
            window.close();
        }, 500);  // Close the window after 500ms
    </script>
</body>
</html>
